/* Stylesheet for index/frontpage */

.search {
    display: flex;
    justify-content: center;
    background: url("../assets/img/hero_img.jpg");
    background-position-y: 65%;
    padding-top: 150px;
    padding-bottom: 150px;
    height:350px;
}

#searchForm{
    display: flex;
    align-content: center;
    justify-content: center;
    gap:10px;
}

#searchtxt{
    width:30vh;
}

.newestListings{
    background-color: #FCFCFC;
    padding-bottom:20px;
}

#uusimmatIlmoituksetTxt{
    text-align: center;
}