/* Stylesheet for index/frontpage */

.search {
    display: flex;
    justify-content: center;
    background: url("../assets/img/hero_img.jpg");
    background-position-y: 65%;
    height:350px;
}

.searchFrontInputWrapper {
    max-width: 400px;
    width: 100%;
}

#searchFrontForm{
    display: flex;
    align-items: center;
}

#searchFormDiv{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#uusimmatIlmoituksetTxt{
text-align: center;
}