/* Style for single listing */

figure {
    margin:0;
}

.listings{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listing {
    width: 400px;
    display: flex;
    align-content: center;
    transition: 200ms ease-out 200ms;
    border: 1px solid #3A7457;
    border-radius: 5px;
    overflow:hidden;
    background-color: #FCFCFC;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
/* desktop rule, add left-right margins */
@media only screen and (min-width: 600px) {
    .listing{margin-left:1rem; margin-right:1rem;}
}


.listingImg img{
    width: 150px;
    height:100%;
    object-fit: cover;
}

.listingInfo {
    border-radius: 0 5px 5px 0;
    padding: 10px 10px 10px 20px;
    width: 100%;
    list-style:none;
    line-height: 30px;
}

.listingName{
    padding-bottom: 5%;
}

.listing:hover{
    border: 1px solid #E67039;
}
.listingInfo:hover{
    border: 0 solid;
}

.listingInfo i{
    color:#3A7457;
}