/* Style for single listing */

figure {margin:0;}

.listings {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.listing {
    width: 400px;
    max-height: 200px;
    display: flex;
    align-content: center;
    transition: 200ms ease-out 200ms;
    border: 1px solid rgb(58, 116, 87);
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    font-size: 0.875rem;
    margin-bottom:1rem;
}

/* desktop rule, add left-right margins */
@media only screen and (min-width: 600px) {
}

.listingImg img {
    width: 160px;
    height: 100%;
    object-fit: cover;
}

.listingInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    padding: 20px;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 30px;
}

.listingInfo li {
    display: flex;
    align-items: center;
}

.listingInfo i {
    font-size: 1rem;
    width: 1.5rem;
}

.listingName {padding-bottom: 5%;}

.listing:hover {border: 1px solid rgb(230, 112, 57);}

.listingInfo:hover {border: 0 solid;}

.listingInfo i {color:rgb(58, 116, 87);}