/* styles for login.html and register.html */
/* TODO: move general styling to main.css */

main {
    height: 100vh;
    display: flex;
    padding: 1rem;
}

.loginRegisterSection {
    width: 100%;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.formButton {
    width: 100%;
    max-width: 400px;
}

#loginForm, #registerForm {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper {
    max-width: 400px;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    body {background-color: rgb(58, 116, 87);}

    main {
        align-items: center;
        justify-content: center;
    }

    .loginRegisterSection {
        width: 30rem;
        padding: 2.5rem;
        border-radius: 0.5rem;
    }

    .formButton {
        width: auto;
        margin: auto;
        display: block;
    }
}
