.infoList, .userInfoList {
    list-style: none;
    padding: 0;
}

.infoList {border-bottom: 1px solid rgb(230, 112, 57);}

.infoList, .userInfoList{
    padding-top:1rem;
}

.infoList li, .userInfoList li {
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.infoList i, .userInfoList i {
    color:rgb(58, 116, 87);
    width: 2rem;
}

.editDeleteButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1rem 0;
}

.editDeleteButtonWrapper button:first-of-type {
    margin-right: 0.5rem;
}

.imgWrapper{
    margin: 0;
    clear: both;
    position: relative;
    box-shadow: 0 0 8px rgba(26, 26, 26, 0.2);
    border-radius: 0.5rem;
}

.plantImg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: top;
}

.imgWrapper #likeButton{
    position: absolute;
    transform: translate(-100%, -0%);
    -ms-transform: translate(-100%, -0%);
    margin-top: 2%;
    margin-left: -2%;
    height: 3rem;
    width: 3rem;
    border: 0;
    background-color: rgb(252, 252, 252);
    font-size: 1.25rem;
    border-radius: 5rem;
    box-shadow: 0 0 8px rgba(26, 26, 26, 0.2);
}

section h2 {
    text-align: center;
}

.userSection{
    background: #F5ECE3;
    padding: 1rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

/* hide on mobile */
@media only screen and (max-width: 820px){
    #desktopUserSection {
        display:none;
    }
}
/* hide on desktop */
@media only screen and (min-width: 820px){
    #mobileUserSection {
        display:none;
    }
}