/* style for user favourites html */

.userFavourites h1{
    text-align: center;
}

body{
    background-image: url("../assets/img/illustration1.png");
    background-position-x: 25%;
    background-position-y: 98%;
    background-repeat: no-repeat;
}

/* Mobile rule, smaller background image */
@media only screen and (max-width: 600px) {
    body {
        background-position-x: 35%;
        background-position-y: 98%;
        background-size: 150%;
    }
}