details {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(245, 236, 227);
    border: 1px solid rgb(209, 204, 199);
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

details summary i {
    transform: rotate(0);
    transition: .25s transform ease;
}

details[open] > summary i {transform: rotate(180deg);}

details p {margin: 0.5rem 0 0 0;}

section h2 {text-align: center;}

p {font-size: 0.875rem;}

.contentPadding {padding: 76px 1rem 2rem 1rem;}

.editDeleteButtonWrapper {
    float: right;
    padding-bottom: 1rem;
}

.editDeleteButtonWrapper button:first-of-type {margin-right: 0.5rem;}

.imgWrapper{
    margin: 0;
    clear: both;
    position: relative;
    border-radius: 8px;
}

.plantImg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: top;
}

.favouriteButton {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 3rem;
    width: 3rem;
    border: 0;
    background-color: rgb(252, 252, 252);
    font-size: 1.25rem;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgba(38, 32, 28, 0.2);
    transition: font-size 75ms;
    color: rgb(58, 116, 87);
}

.favouriteButton:hover {color: rgb(58, 116, 87);}

.favouriteButton:active {
    color: rgb(58, 116, 87);
    font-size: 1rem;
}

.infoSection, .instructionSection, .userSection {
    margin: 2rem 0;
    hyphens: auto;
}

.commentsSection {margin: 2rem 0 0 0;}

.infoSection h2 {padding: 0;}

.userSection {
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(245, 236, 227);
    border: 1px solid rgb(209, 204, 199);
}

.infoList, .userInfoList {
    list-style: none;
    padding: 0;
}

.infoList {
    border-bottom: 1px solid rgb(230, 112, 57);
    margin: 2rem 0;
}

.userInfoList {margin: 1rem 0 0 0;}

.infoList li, .userInfoList li {
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.infoList li:last-child {padding-bottom: 2rem;}

.userInfoList li:last-child {padding-bottom: 0;}

.infoList i, .userInfoList i {
    color:rgb(58, 116, 87);
    width: 2rem;
}

.comment {
    background-color: rgb(187, 221, 204);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
    border: 1px solid rgb(209, 204, 199);
}

.comment p {margin: 0.5rem 0;}

.commentTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.commentTop  h4 {
    font-size: 0.875rem;
    margin: 0;
}

.commentTime {
    margin:0;
    font-size: 0.75rem;
}

.hidden {display: none;}

#deleteButton, #editButton, #sendCommentButton {padding: 0;}

#desktopUserSection {display: none;}

#addCommentForm {
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
}

#addCommentForm textarea {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    padding: 0.8rem 0.5rem;
    margin: 0;
    overflow: hidden;
}

@media only screen and (min-width: 500px) {
    .plantImg {aspect-ratio: 5/3;}
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 600px;
        margin: auto;
    }

    .infoSection, .instructionSection, .userSection, .commentsSection {margin: 2rem 0;}

    .editDeleteButtonWrapper {padding-right: 0;}
}

@media only screen and (min-width: 900px) {
    main {
        max-width: 900px;
        margin: 0 auto;
    }

    .desktopWrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: flex-start;
    }

    .editDeleteButtonWrapper {padding-top: 0;}

    .commentsSection {margin-bottom: 0;}

    .infoList {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }


    #desktopLeftSide {width: 65%;}

    #desktopUserSection {
        display: block;
        width: 35%;
    }

    #mobileUserSection {display: none;}
}